[flake8]
max-line-length = 100
ignore = E203, E501, W503, E402
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    .eggs,
    *.egg,
    .pytest_cache,
    .mypy_cache,
    build,
    dist,
    logs,
    screenshots
max-complexity = 10
count = True
statistics = True
